.sidebar-menu-toggle {
  border-right: 1px solid #e6e6e6;
  background-color: #e7e7e7;
}

.navbar-brand--no-margin {
  margin-left: 0 !important;
}

.navbar-header-logo {
  display: inline !important;
}

#formula-editor {
    position: fixed;
    top: 54px;
    left: 0%;
    height: 100%;
    width: 100%;
}

.cursor--pointer {
  cursor: pointer;
}

.cursor--none {
  pointer-events: none;
}

.m-t-1 {
  margin-top: 1em;
}

.m-t-2 {
  margin-top: 2em;
}

.m-t-3 {
  margin-top: 3em;
}
/**
 * Slideout
 */
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/**
 * ACE Monokai Theme Overrides
 */
.ace-monokai .ace_identifier {
    font-style: italic;
}

.ace-monokai .ace_support.ace_function {
    font-weight: bold;
}

.ace-monokai .ace_punctuation.ace_operator {
    font-weight: bold;
}

.ace-monokai .ace_constant.ace_numeric {
    color: #ff9800 !important;
}